<div class="sections">
    <%= image_tag (user.photo), height: '115', width: '115' %>
    <div class="users">
        <h1><%= link_to (user.name), user%></h1>
        <span>Number of posts: <%=user.posts_counter%></span>
    </div>
</div>