<div class="navbar black-border">
    <div class="inner-cont">
        <h2 class="nav-title">Current User: <%= @current.name %></h2>
    </div>

    <div class="inner-cont">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-btn' %> 
    </div>
</div>

<% @user.each do |user| %>
    <%= render user %>
<%end%>



