<%= render @user %>

<div class="bio">
    <h2>Bio</h2>
    <p><%=@user.bio%></p>
</div>

<%@post.each do |post|%>
    <%= render post %>
<%end%>

<button><%= link_to ("See all posts"),user_posts_path(@user.id) %></button>