/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.sections {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.users {
  width: 100%;
  border: 1px black solid;
  padding: 0 1rem;
}

span {
  display: block;
  text-align: end;
  padding-bottom: 1rem;
}

.posts,
.comments,
.bio {
  border: 1px rgba(0, 0, 0, 0.39) solid;
  padding: 0 1rem;
  margin: 1rem;
}

.posts {
  margin-bottom: 0.2rem;
  margin-top: 2rem;
}

.comments {
  margin-top: 0;
}

.bio {
  border: 1px rgb(0, 0, 0) double;
  margin-bottom: 2rem;
}

.post_comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-left,
.add-post {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.5rem 2rem;
  background-color: #bebdbd;
  border-radius: 5px;
  font-size: 17px;
  border: 1px solid #bebdbd;
  margin-left: 1rem;
}

.black-border {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  margin: auto;
}

.container {
  justify-content: start;
  margin: 1rem 0;
}

.sign-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field {
  margin: 0.5rem 0;
  width: 100%;
}

.w-100 {
  width: 97%;
}

.new_user {
  width: 100%;
}

.title-w80 {
  width: 80vw;
  margin: auto;
}

.bottom-links {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.bottom-links > a {
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 5px;
}

.bottom-links > a:hover {
  box-shadow: 10px 5px 5px black;
}

.sign-box {
  border: 2px solid black;
  width: 100%;
}

.navbar {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  border: 2px solid black;
  font-weight: bolder;
  border-radius: 6px;
  padding: 0.3rem;
  margin: 0 0.3rem;
}

.nav-btn:hover {
  border-color: blue;
}

.nav-title {
  font-weight: bolder;
  margin: 0;
}

.inner-cont {
  display: flex;
  align-items: center;
}
